body {
    background-image: url(./photo-1497633762265-9d179a990aa6.jpg);
    background-repeat: no-repeat,
}

header {
    background-color: #fff;
}

#list {
    background-color: #fff;
}

#education {
    background-color: rgb(251, 155, 155);
}